# Virtual environments
venv/
backend/venv/

# Environment variables and secrets
.env
backend/.env
frontend/.env

# Python cache
__pycache__/
*.pyc

# Uploaded resumes
backend/uploads/resumes/

# Archives
*.zip

# Node dependencies
node_modules/
frontend/node_modules/

# Frontend builds
dist/
frontend/dist/